:root {
  --color-backgroud: #dbd7d7;
  --color-white: #ffffff;
  --color-primary: #2b2733;
  --color-primary-hover: #2b2733e0;
  --color-error: #ff3333;

  --border-radius-main: 10px;
  --border-radius-autorization: 30px;
  --border-radius-button: 6px;

  --font-familly-base: "Montserrat-Black";
}
